.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.focus-ring:focus,
.focus-ring:focus-visible {
  outline: var(--ant-line-width-focus) solid var(--ant-color-primary-border);
  outline-offset: 1px;
}

.pcgl-footer {
  background-color: #004b75;
  color: white;
  padding: 24px;
  font-size: 14px;
  container-type: inline-size;
  container-name: footer;

  & p {
    color: #b1c0c9;
    font-size: 14px;
    margin: 0;
    padding: 16px 0;
  }

  .contextual-band {
    padding: 24px 0;
    border-bottom: solid 1px;
    margin-bottom: 16px;

    img {
      max-width: 160px;
    }
  }

  .contextual-logos,
  .meta-logos {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    max-width: 320px;

    & img {
      flex: 1;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.main-band {
  align-items: start;
  column-gap: 16px;
  display: grid;
  grid-template-areas:
    "section"
    "meta";
  grid-template-columns: 1fr;
  row-gap: 24px;

  dd, ul {
    display: contents;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .links-section {
    display: grid;
    margin: 0;
    row-gap: 12px;
  }

  .group {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }

  .item {
    list-style: none;
  }

  .link-item {
    font-size: 12px;
    color: #d9d9d9;
    text-decoration: underline;

    &:hover {
      color: white;
    }
  }
}

@container (width > 480px) {
  .main-band {
    grid-template-areas:
      "section section"
      "section section"
      "meta meta";
    grid-template-columns: 1fr 1fr;
  }

  .meta {
    grid-area: meta;
  }
}

@container (width > 640px) {
  .main-band {
    grid-template-areas:
      "section section section"
      "meta meta meta";
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@container (width > 1440px) {
  .main-band {
    grid-template-areas:
      "meta . section section"
      "meta . section section";
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@container (width > 992px) {
  .pcgl-footer {
    .contextual-logos {
      max-width: 290px;
    }
  }
}