<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="icon" href="/public/assets/icon_small.png" type="image/png" />
        <title>Bento</title>
        <%= htmlWebpackPlugin.tags.headTags %>
        <script type="text/javascript">
            // - define an empty global as a fallback for what ends up in the BENTO_PUBLIC_CONFIG global
            // - leave it mutable so static/config.js can override it
            let BENTO_PUBLIC_CONFIG = {};
        </script>
        <script src="<%= webpackConfig.output.publicPath %>public/config.js"></script>
    </head>

    <body>
        <div id="root"></div>
        <script>
            // for Bento-Public embedded iframes:
            window.addEventListener("load", function () {
                setInterval(function () {
                    let message = {height: document.body.scrollHeight}; // width is assumed to be 100% already

                    // window.top refers to parent window
                    window.parent.postMessage(message, "*");
                }, 500);
            });
        </script>
        <%= htmlWebpackPlugin.tags.bodyTags %>
    </body>
</html>
