:root {
  --header-height: 64px;

  --sidebar-width-full: 200px;
  --sidebar-width-collapsed: 80px;

  --content-padding-v: 32px;
  --content-padding-h: 64px;
  --content-max-width: 1320px;

  --content-scoped-title-height: 50px;
  --content-scoped-title-margin-bottom: 24px;
}

html,
body {
  min-height: 100%;
  background-color: #f5f5f5;
  margin: 0;
}


/* BEGIN utility classes */

.no-margin-top {
  margin-top: 0 !important;
}

/* Name compatible with tailwind if needed */
.w-full { width: 100%; }
.h-full { height: 100%; }
.m-0 { margin: 0; }
.flex-1 { flex: 1; }
.float-right { float: right; }
.rounded-lg { border-radius: 8px; } /* also consistent with --ant-border-radius-lg */
.rounded-xl { border-radius: 12px; }
.rounded-e-none { border-start-end-radius: 0; border-end-end-radius: 0; }
.cursor-pointer { cursor: pointer; }
.font-mono { font-family: ui-monospace, monospace; }
.text-center { text-align: center; }

/* custom, tailwind-esque */
.max-w-half-cmw { max-width: calc(var(--content-max-width) / 2); }

.shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.float-btn-pos {
  /* For normal computer screens */
  bottom: 3em;
  right: 5em;
}
:not(.ant-float-btn-group).float-btn-pos {
  scale: 125%;
}
.ant-float-btn-group.float-btn-pos {
  /* For normal screens, increase float button group gap size */
  gap: 24px;
}
.ant-float-btn-group.float-btn-pos .ant-float-btn {
  scale: 125%;
}

.error-text {
  color: #f5222d;  /* https://ant.design/docs/spec/colors red-6 */
}

/* END utility classes */


.header-button {
  color: lightgray;
}

.header-button:hover {
  color: white !important;
}

.select-dataset-item {
  transition: all 0.2s;
  border-radius: 8px; /* Consistent with --ant-border-radius-lg */
  cursor: pointer;
}

.select-dataset-item .ant-avatar {
  background-color: #8c8c8c;
}

.select-dataset-item:hover {
  background-color: #e6f4ff;
}

.select-dataset-item:hover .ant-avatar {
  color: #e6f4ff;
}

.select-dataset-item.selected,
.select-dataset-item.selected:hover {
  background-color: #91caff;
}

.select-dataset-item.selected .ant-avatar {
  background-color: #0958d9;
  color: #91caff;
}


.scoped-title {
  position: sticky;
  top: -3px;
  left: 0;
  right: 0;
  z-index: 20;

  box-sizing: border-box;
  height: var(--content-scoped-title-height);
  margin-bottom: var(--content-scoped-title-margin-bottom);
  padding-top: 3px;
  margin-left: calc(-1 * var(--content-padding-h));
  margin-right: calc(-1 * var(--content-padding-h));
  padding-left: max(calc((100% - var(--content-max-width)) / 2 + var(--content-padding-h)), var(--content-padding-h));
  padding-right: max(calc((100% - var(--content-max-width)) / 2 + var(--content-padding-h)), var(--content-padding-h));

  background-color: rgba(245, 245, 245, 0.80);
  border-bottom: 1px solid rgba(240, 240, 240, 0); /* invisible border to transition from/to */
  backdrop-filter: blur(10px);

  transition: border-bottom-color 0.5s ease-in-out,
    margin 0.5s ease-in-out,
    padding 0.5s ease-in-out,
    height 0.5s ease-in-out,
    box-shadow 0.1s ease-in-out;
}

.scoped-title__breadcrumb {
  font-size: 1.8rem;
  transition: font-size 0.3s ease-in-out;
  flex: 1;
}

.scoped-title__breadcrumb .anticon {
  font-size: 0.9em;
}

.scoped-title__breadcrumb a {
  height: 3rem;
}

.scoped-title[data-stuck] {
  height: 50px;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.02);
}

.scoped-title[data-stuck] .scoped-title__breadcrumb {
  font-size: 1.2rem;
  line-height: 46px;
}

.scoped-title[data-stuck] .scoped-title__breadcrumb a {
  height: 38px;
  margin-top: 4px;
  line-height: 38px;
}


/* BEGIN react18-json-view styling */

.json-view {
  color: #002b36;
  --json-property: #002b36;
  --json-index: #6c71c4;
  --json-number: #268bd2;
  --json-string: #cb4b16;
  --json-boolean: #2aa198;
  --json-null: #dc322f;
}

/* END react18-json-view styling */


/* BEGIN layout HTML styling */

#default-layout {
  --sidebar-width: var(--sidebar-width-full);
  min-height: 100vh;
}
#default-layout.sidebar-collapsed {
  --sidebar-width: var(--sidebar-width-collapsed);
}

#site-header {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  z-index: 100;
  top: 0;

  /* Header padding is reduced to 24px to provide more breathing room for buttons at small screen sizes and grid-align
     logo with sidebar icons. */
  padding: 0 24px;
}

#site-header h1.ant-typography {
  margin: 0;
  font-size: 1.5em;
  line-height: var(--header-height);
  color: rgba(255, 255, 255, 0.9);
}

#site-sider {
  position: fixed;
  left: 0;
  top: var(--header-height);
  z-index: 100;
  border-right: 1px solid #f0f0f0;

  overflow: auto;
  height: calc(100vh - var(--header-height));
}

.ant-layout-sider-trigger {
  border-right: 1px solid #f0f0f0;
}

#content-layout {
  position: fixed;
  top: var(--header-height);
  left: var(--sidebar-width);
  right: 0;
  bottom: 0;

  display: block;
  width: calc(100% - var(--sidebar-width));
  overflow: auto;

  transition: left 0.3s, width 0.3s;
}

#content-layout > .ant-layout-content {
  padding: var(--content-padding-v) var(--content-padding-h);
}

.margin-auto {
  margin: auto;
}

.container {
  width: 100%;
  max-width: var(--content-max-width);
}

/* END layout HTML styling */


/* BEGIN about HTML styling */

/* Elements which are the first child of the about content container shouldn't have the default top margin */
.about-content *:first-child {
  margin-top: 0;
}

/* Images should scale proportionally with container width */
.about-content img {
  max-width: 100%;
  height: auto;
}

/* END about HTML styling */


/* BEGIN overview */

.count-card {
  min-width: 150px;
  transition: height 0.3s ease-in-out;
}

.dataset-provenance-card-grid {
  --dataset-grid-gap: 18px;

  display: grid;
  /* 651 * 2 + 18 (gap) = 1320 */
  grid-template-columns: repeat(auto-fit, minmax(250px, calc((var(--content-max-width) - var(--dataset-grid-gap)) / 2)));
  gap: var(--dataset-grid-gap);
}

.slick-arrow {
  color: black !important; /* override slick-next/slick-prev color */
}

.slick-dots li button {
  background-color: black !important; /* override slick-dots color */
}

/* END overview */


/* BEGIN search */

.search-sub-form {
  flex: 1;
  transition: opacity 0.1s;
}
.search-sub-form.focused {
  opacity: 1;
}
.search-sub-form.not-focused {
  opacity: 0.75;
}

h3.search-sub-form-title {
  font-size: 1.1rem;
  margin-top: 0;
}

.search-sub-form-title__inner {
  margin-right: 0.5em;
}
h3.search-sub-form-title:not(.focused) .search-sub-form-title__inner {
  color: #8c8c8c;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
h3.search-sub-form-title:not(.focused) .search-sub-form-title__inner:hover {
  color: #595959;
}
h3.search-sub-form-title:not(.focused) .search-sub-form-title__inner > span.should-underline-if-unfocused {
  text-decoration: underline; /* text itself, not icon */
}

.search-results-pane {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-result-statistic.enabled {
  padding: 8px 16px;
  margin-left: -16px;
  border-radius: 8px; /* Consistent with --ant-border-radius-lg */

  cursor: pointer;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); /* from antd */
}

.search-result-statistic.enabled:hover {
  border-color: #4096ff;
}

.search-result-statistic.selected {
  background-color: #fafafa;
}

.search-result-statistic.enabled.selected {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02), inset 0 2px 5px rgba(0, 0, 0, 0.08);
}

/* END search */


@media (min-width: 1050px) and (max-width: 1550px) {
  .dataset-provenance-card-grid {
    /* This looks better at an intermediate screen width */
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.5fr));
  }
}

@media (max-width: 768px) {
  /* Same breakpoint as constants/deviceBreakpoints DeviceBreakpoints.TABLET */

  :root {
    --content-padding-v: 10px;
    --content-padding-h: 10px;

    --content-scoped-title-margin-bottom: 10px;
  }

  .ant-layout-footer {
    padding: 24px;
  }

  .dataset-provenance-card-grid {
    --dataset-grid-gap: 8px;
  }

  .scoped-title__breadcrumb {
    font-size: 1.2rem;
    line-height: 46px;
  }

  .float-btn-pos {
    /* For small screens */
    bottom: 1.5em;
    right: 1em;
  }
  .ant-float-btn-group.float-btn-pos .ant-float-btn {
    scale: 100%;
  }
  :not(.ant-float-btn-group).float-btn-pos {
    scale: 100%;
  }
  .ant-float-btn-group.float-btn-pos {
    /* For small screens, reset group gap size */
    gap: 16px;
  }
}
