html,
body {
    min-height: 100%;
    background-color: #eff2f5;
    margin: 0;
}

.floating-button {
    position:fixed;
    right:5em;
    bottom:1.5em;
    transform: scale(125%);
}

.floating-search {
    position:fixed !important;
    right:5em !important;
    bottom:3em !important;
    transform: scale(125%) !important;
}
